

body{
    margin: 0;
    background-color: orange;
}
.navbar-nav{
    margin: -15px;
    display:flex;  
    border-width:15px;
    border-style:  solid;
    border-color: rgb(243, 189, 11);
    background-color:rgb(243, 189, 11);

}
.card{
    margin: 16px;
    width: 700px; 
    margin-left: auto;
    margin-right: auto; 
    border-width:15px;
    background-color: rgb(243, 189, 11);
    border-style:  solid;
    border-color: rgb(243, 189, 11);
}
.card-body{
    padding: 0px;
    margin: 15px;
    
}


    





